// IMPORTS
@import "variables";
@import "mixins";
@import "productos";

// GENERALES
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #111, #1b1b1b);
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

// TITULOS
h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  color: #00bcd4;
  margin-bottom: 20px;
}

// PRESENTACION
.presentacion {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg,#0f0f0f,#1b1b1b);

  h1 {
    font-size: 48px;
  }

  p {
    max-width: 700px;
    margin: auto;
    color: #ccc;
  }
}

// LOGO
.logo img {
  width: 120px;
  margin: 10px;
}

// CONTENEDOR
.contenedor {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

// CARDS
.card {
  background: linear-gradient(160deg, #1a1a1a, #0f0f0f);
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #222;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #00e5ff;
}

.card p {
  color: #bbb;
  line-height: 1.7;
}

.card h2 {
  font-size: 28px;
  color: #00e5ff;
}

// FORM
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

/* Labels */
label {
  font-size: 14px;
  color: #00e5ff;
  margin-bottom: 3px;
}

/* Inputs */
input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #0d0d0d;
  color: white;
}

/* Textarea */
textarea {
  min-height: 120px;
  resize: vertical;
}

/* Botón centrado */
button {
  margin-top: 10px;
  width: 100%;
}

// PRODUCTOS
.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

// SECTION
section {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #1c1c1c;
  border-radius: 12px;
}

// FOOTER
footer {
  margin-top: 40px;
  background: #0d0d0d;
  padding: 20px;
  text-align: center;
}

.derechos {
  color: #aaa;
  font-size: 14px;
}

// Responsive //

/* TABLET */
@media (max-width: 768px) {
  .productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* CELULAR */
@media (max-width: 480px) {
  .productos {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 28px;
  }

  .presentacion {
    padding: 50px 15px;
  }

  .card {
    padding: 20px;
  }

  body {
    padding: 10px;
  }
}